@import "tailwindcss";

@font-face {
    font-family: "Red Hat Text";
    font-weight: 400 600 700;
    src: url("./assets/fonts/RedHatText-VariableFont_wght.ttf");
}

@theme {
    --color-Red: hsl(14, 86%, 42%);
    --color-Red-800: hsl(14, 85%, 28%);
    --color-Green: hsl(159, 69%, 38%);
    --color-Rose-50: hsl(20, 50%, 98%);
    --color-Rose-100: hsl(13, 31%, 94%);
    --color-Rose-300: hsl(14, 25%, 72%);
    --color-Rose-400: hsl(7, 20%, 60%);
    --color-Rose-500: hsl(12, 20%, 44%);
    --color-Rose-900: hsl(14, 65%, 9%);
    --font-Red-Hat-Text: "Red Hat Text";
}

body {
    @apply font-Red-Hat-Text font-semibold bg-Rose-50;
}

.scroll-style {
    scrollbar-width: thin;
}